<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Login</title>
</head>

<body>
    <!-- <h1>Login Page</h1> -->

    <div class = "page">
        <div class = "navbar">
            <ul class="navbar">
                <li><a href = "/">FridgeIt</a></li>
                <li><a href = "{{ url_for('login') }}">Login</a></li>
                <li><a href = "{{ url_for('register') }}">Register</a></li>
            </ul>
        </div>
    </div>

    <!-- <form method="POST" class = "login" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.emailId }}
        {{ form.submit }}
    </form> -->
    <div class = "login">
        <form method="POST"  action="">
            <h2>Login</h2>
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="username">Username</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                {{ form.password }}
            </div>
            <button type="submit" class="submit-btn">{{ form.submit.label.text }}</button>
        </form>
        <br>
        <a id="signup" href="{{ url_for('register') }}">Don't have an account? Sign Up</a>
    </div>

    

</body>

</html>